<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Get Your Temperature</title>
</head>
<body>
<h1>To get the current weather, please input the name of the city and its country code:</h1>
<form th:object="${cityInputForm}" method="post" th:action="@{/city}">
    <label>Name of the city:
        <span th:errors="*{cityName}"></span>
        <input th:field="*{cityName}">
    </label>
    <button name="enter">Enter</button>
    <button name="cancel">Cancel</button>
</form>

<!-- here comes the data -->

<div th:if="${restResponse}!=null">
    <h1>True temperature:</h1>
    <h1 th:text="${restResponse.temperature}"></h1>

    <h1>Feels like temperature:</h1>
    <h1 th:text="${restResponse.feels_like}"></h1>

    <h1>Wind speed:</h1>
    <h1 th:text="${restResponse.wind}"></h1>

    <h1>Weather:</h1>
    <h1 th:text="${restResponse.mainWeather}"></h1>

    <h1>Weather description:</h1>
    <h1 th:text="${restResponse.description}"></h1>

    <h1> Sunrise time on today's date (<span
            th:text="|${restResponse.sunrise.dayOfMonth}.${restResponse.sunrise.month}.${restResponse.sunrise.year}|"> </span>):
    </h1>
    <h1 th:text="|${restResponse.sunrise.hour}:${restResponse.sunrise.minute}|"></h1>

    <h1> Sunset time:</h1>
    <h1 th:text="|${restResponse.sunset}:${restResponse.sunset.minute}|"></h1>
</div>


</body>
</html>
