<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Get Your Temperature</title>
</head>
<body>
<h1>To get the current weather, please input the name of the city and its country code:</h1>
<form th:object="${cityInputForm}" method="post" th:action="@{/city}">
    <label>Name of the city:
        <span th:errors="*{cityName}"></span>
        <input th:field="*{cityName}">
    </label>
    <label>City's country code:
        <span th:errors="*{countryCode}"></span>
        <input th:field="*{countryCode}">
    </label>
    <button name="enter">Enter</button>
    <button name="cancel">Cancel</button>
</form>

<!-- here comes the data -->
<h1>City name</h1>
<h1 th:text="${sendingData}"></h1>

</body>
</html>
