<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Get Your Temperature</title>
    <link rel="stylesheet" th:href="@{/css/restclientdemo.css}">
</head>
<body>
<div class="container">
<h1>For current weather, please input the name of the city:</h1>
<form th:object="${cityInputForm}" method="post" th:action="@{/city}">
    <label>
        <span th:errors="*{cityName}"></span>
        <input th:field="*{cityName}">
    </label>
    <button name="enter">Enter</button>
    <button name="cancel">Cancel</button>
</form>

<!-- here comes the data -->

<table th:if="${restResponse}" !=null>
    <tr>
        <td>Actual temperature</td>
        <td class="td_response" th:text="${restResponse.temperature}"></td>
    </tr>
    <tr>
        <td>Fells like temeparture</td>
        <td class="td_response" th:text="${restResponse.feels_like}"></td>
    </tr>
    <tr>
        <td>Wind speed</td>
        <td class="td_response" th:text="${restResponse.wind}"></td>
    </tr>
    <tr>
        <td>Weather</td>
        <td class="td_response" th:text="${restResponse.mainWeather}"></td>
    </tr>
    <tr>
        <td>Weather description</td>
        <td class="td_response" th:text="${restResponse.description}"></td>
    </tr>
    <tr>
        <td> Sunrise time on today's date (<span
                th:text="${#temporals.format(restResponse.sunrise, 'dd-MM-yyyy')}"> </span>)
        </td>
        <td class="td_response" th:text="${#temporals.format(restResponse.sunrise, 'HH:mm')}"></td>
    </tr>
    <tr>
    <td> Sunset time</td>
    <td class="td_response" th:text="${#temporals.format(restResponse.sunset, 'HH:mm')}"></td>
    </tr>
</table>
</div>

</body>
</html>
